/* project color scheme */ 
:root {
    --darkBlue: #0c0d18;
    --charCoal: #eff1f0d9;
    --offWhite: #eff1f0d9;
    --lightBlue: #7cafd1;
   }

/* generic note */

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   } */

   body {
    background-color: var(--darkBlue);
    color: var(--lightBlue);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

   
   
/* header styling */
   
   h1 {
    font-size: 4rem;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.1;
    position: relative;
    top: 2.3rem;
    left: 1rem;
    }

/* navigation bar styling */

.header nav {
    padding-top: 1rem;
    margin-right: 1.3rem;
    float: right;
    font-size: 1.5rem;
    position: relative;
    bottom: 0.3rem;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* hero image styling */
    #heroImage {
        width: 100%;
    }

/* about me text styling */    

    #aboutMe {
        display: flex;
        margin: 1rem;
              
    }

    #aboutMe h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 1rem;
        line-height: 1.1;
        padding-right: 8rem;
        white-space: nowrap;
        width: 33%;
        
    }

    #aboutMe p {
        padding-right: 1rem;
    }

    #aboutMe img {
        width: 10rem;
        height: 10rem;
        
    }
    

/* project text and main project styling */  

    #mainProject {
        display: flex;
        margin: 1rem;
                   
    }

    #mainProject h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 1rem;
        line-height: 1.1;
        padding-right: 8rem;
        width: 33%;
    }

   #mainProject img {
    width: 33%;
    height: 33%;
    
   }

   /* flexbox and styling for small projects */
   #smallProject {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 96%;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    
   
   }

   #smallProject img {
    float: left;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    
    
   }


  /* background-image: linear-gradient(
        rgba(124, 175, 209, 0.2) 0%,
        rgba(124, 175, 209, 0.5) 100%
    ); */
    



  /*  @media screen and (min-width: 768px) {
    .card-column {
        flex: 0 0 50%;
    }

    .card-column:last-child {
        flex-grow: 1;
    }
    
}

@media screen and (min-width: 992px) {
    header {
        width: 75;
    }

    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}*/