/* project color scheme */ 
:root {
    --darkBlue: #0c0d18;
    --titaniumBlue: #7cafd1;
    --oceanBlue: #016064;
   }

a:link {
    color: (var(--titaniumBlue));
}
  
a:visited {
    color: var(--oceanBlue);
}   

/* generic note */

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   } */

   body {
    background-color: var(--darkBlue);
    color: var(--titaniumBlue);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

   
   
/* header styling */
   
   h1 {
    font-size: 4rem;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.1;
    position: relative;
    top: 2.3rem;
    left: 1rem;
    }

    h1 img {
        height: 10rem;
        width: 10rem;
    }

/* navigation bar styling */

header nav {
    padding-top: 1rem;
    margin-right: 1.3rem;
    float: right;
    font-size: 1.5rem;
    position: relative;
    bottom: 0.3rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* hero image styling */
    #heroImage {
        width: 100%;
    }

/* about me text styling */    

    #aboutMe {
        display: flex;
        margin: 1rem;
        line-height: 1.1;
    }

    #aboutMe h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 1rem;
        
        padding-right: 8rem;
        white-space: nowrap;
        width: 33%;
        
    }

    #aboutMe p {
        padding-right: 1rem;
        text-indent: 3rem;
        
    }

    #aboutMe img {
        width: 10rem;
        height: 10rem;
        
    }
    
    

/* project text and main project styling */  

    #mainProject {
        display: flex;
        margin: 1rem;
                   
    }

    #mainProject h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 1rem;
        line-height: 1.1;
        padding-right: 8rem;
        width: 33%;
        height: 33%;
    }

   #mainProject img {
    width: 30rem;
    height: 30rem;
    
   }

   /* flexbox and styling for small projects */

   #smallProject {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
   }

   #smallProject img {
    display: block;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
   }

/* footer styling */

   footer {
    display: flex;
    margin: 1rem;
    width: 100%;
   }
   
   h3 {font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    line-height: 1.1;
    padding-right: 8rem;
    position: relative;
    top: 13px
   }

   footer li {
    display: inline-block;
    list-style-type: none;
    font-size: 1.4rem;
    padding: 1.5rem;
   }

/* Scaling for tablet sized viewport */
    @media screen and (max-width: 992px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav {
        padding: 2.3rem;
        position: relative;
        top: 0.3rem;
    }

    #mainProject img {
        width: 20rem;
        height: 20rem;
       }

    #smallProject img {
        width: 12rem;
        height: 12rem;
       }

    footer li {
        display: flex;
        flex-direction: column;
    }
}

/* Scaling for phone sized viewport */
    @media screen and (max-width: 768px) {

    * {
        flex-direction: column;
        align-items: center;
        padding: 0.1rem;
    }

    header nav {
        font-size: .8rem;
    }

    h2 {
        position: relative; 
        right: 1rem;
    }


    #aboutMe img {
        width: 15rem;
        height: 15rem;
        padding: 1rem;
        
    }

    #mainProject {
        width: 97%;
        margin: 0;
    }

    #mainProject h2 {
        padding: 1rem;
    }

    #mainProject img {
        height: 15rem;
        width: 15rem;
        padding: 1rem;
    }

    #smallProject {
    flex-direction: column;
  }
}