/* project color scheme */ 
:root {
    --darkBlue: #0c0d18;
    --titaniumBlue: #7cafd1;
    --oceanBlue: #016064;
   }

a:link {
    color: (var(--titaniumBlue));
}
  
a:visited {
    color: var(--oceanBlue);
}   

/* universal and body styling */    

body {
    background-color: var(--darkBlue);
    color: var(--titaniumBlue);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }


/* header and navigation barstyling */  

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

h1 {
    font-size: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    padding: 1vw;
    
}

header nav ul li {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 2vw;
    padding: 1vw;
    position: relative;
    top: 1.4vw;

}

/* hero image styling */

#hero {
    max-width: 100%;
    width: auto;
    height: auto;
}
  

/* about me text and styling */  

article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1vw;
    padding-top: 2vw;
    font-size: 1vw;
}

article h2 {
    flex: 1 1 33.33%;
    font-size: 3vw;
    white-space: nowrap;
}

article p {
    flex: 1 1 66.66%
}


/* project text and main project styling */  


/* flexbox and styling for small projects */


/* footer styling */


/* Scaling for tablet sized viewport */


/* Scaling for phone sized viewport */
